body {
    margin: 0;
    padding: 25px;
  }

  .top-box{
      background-color: white;
      padding: 10px;
      width: 100%;
      height: 30vh;
      border: solid black;
      margin: 0 auto;
  }

  .first-box {
    display: inline-block;
    background-color: rgb(139, 6, 216);
    width: 50px;
    height:150px;

        
  } 
  .middle-box{
    display: inline-block;
    background-color: green;
    display: inline-block;
    margin: 0 50px;
    width: 400px;
    height: 200px;
    margin: 0 60px;
  }

  .circle{
    display: inline-block;
    background-color: skyblue;
    width: 150px;  
    height: 150px;
    border-radius: 50%;
    display: inline block;

  }
.main-box{
  display: inline-block;
  width: 100%;
  border: dotted black;
  padding: 30px;
  margin: 10px;
 
}
.box-shadow{
  width: 100%;
  height: 150px;
  background-color: rgb(250, 250, 201);
  box-shadow: rgb(39, 38, 38) 10px 10px 5px;

}
.bottom-box{
  background-color: white;
  border: 2px solid rgb(194, 194, 194);
  padding: 50px;
  width: 50%;
  height: 20vh;
  margin: 0px auto;
  box-shadow: rgb(192, 190, 190) 5px 5px 5px;
}
.bottom-box h1{
  color: rgb(27, 27, 141);
  height: 25%;
  width: 50%%;
  padding: 25px;
  margin: 20 auto;
  text-align: center;
  letter-spacing: 15px;
}